body {
    background: #ECEBE9;
}

.navigator {
    background: #ECEBE9;
    width: 1904px;
    height: 95px;
    margin: -9px 0 0 -9px;
    overflow: hidden;
    display: block;
}

.logo {
    background-image: url("data:image/svg+xml,%3Csvg width='152' height='65' viewBox='0 0 111 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.3783 3.56114L20.1218 13.6402C20.9949 13.2331 21.948 12.9724 22.9499 12.8889V1.50751C19.8957 1.60846 16.9988 2.33377 14.3783 3.56114ZM24.4257 1.50751V12.8954C25.4321 12.9882 26.3883 13.2599 27.2622 13.6791L33.0214 3.57246C30.3945 2.33823 27.4893 1.60877 24.4257 1.50751ZM34.3409 4.24758L28.5358 14.4347C29.3308 15.0064 30.0239 15.7138 30.5823 16.5237L41.2837 10.2639C39.4106 7.80453 37.0466 5.74885 34.3409 4.24758ZM42.1503 11.4836L31.3185 17.8197C31.717 18.6894 31.9756 19.6381 32.0652 20.6355H45.6533C45.1579 17.2867 43.9342 14.1793 42.1503 11.4836ZM45.8242 22.1308H32.0716C31.9673 23.416 31.5826 24.6219 30.9792 25.6843C30.6534 26.258 30.264 26.7896 29.8208 27.2694L31.9913 30.3063L33.9984 27.995C35.0856 26.743 37.0109 26.743 38.0981 27.995L43.4905 34.2046C45.0309 31.1422 45.8997 27.6748 45.8997 24C45.8997 23.3704 45.8742 22.747 45.8242 22.1308ZM42.73 35.5926L36.9901 28.9828C36.4905 28.4075 35.6059 28.4075 35.1064 28.9828L20.1387 46.219C21.2944 46.407 22.4798 46.5047 23.6878 46.5047C31.7688 46.5047 38.8429 42.1327 42.73 35.5926ZM18.4675 45.8797L22.7329 40.9678L12.1954 28.8333C11.6958 28.258 10.8112 28.258 10.3117 28.8333L4.56321 35.453C7.57747 40.6084 12.5632 44.4389 18.4675 45.8797ZM3.81088 34.0556L9.20366 27.8455C10.2909 26.5935 12.2162 26.5935 13.3034 27.8455L15.4096 30.2709L17.5227 27.3142C17.0713 26.8326 16.6746 26.2976 16.3427 25.7195C15.7278 24.6486 15.3357 23.4302 15.2302 22.1308H1.55136C1.50137 22.747 1.47588 23.3704 1.47588 24C1.47588 27.6154 2.3168 31.03 3.81088 34.0556ZM1.72233 20.6355H15.2366C15.3274 19.6252 15.5915 18.6649 15.9988 17.786L5.22512 11.4838C3.44128 14.1795 2.21767 17.2868 1.72233 20.6355ZM6.09173 10.2641L16.7406 16.4933C17.3127 15.671 18.0241 14.9555 18.8403 14.3819L13.058 4.2347C10.3425 5.73713 7.97022 7.79763 6.09173 10.2641ZM18.4065 26.0776L21.4763 21.7822C22.5664 20.257 24.8092 20.2569 25.8993 21.7822L28.9356 26.0307C29.2229 25.6929 29.4792 25.3273 29.7 24.9386C30.2879 23.9033 30.6244 22.7029 30.6244 21.4206C30.6244 21.4092 30.6244 21.3979 30.6243 21.3867C30.6185 20.117 30.2826 18.9284 29.6997 17.9021C29.0938 16.8353 28.2205 15.9434 27.1729 15.321C26.1488 14.7125 24.9579 14.3613 23.6843 14.3552C23.6732 14.3552 23.662 14.3551 23.6509 14.3551C22.3939 14.3551 21.2166 14.6914 20.1996 15.2795C19.1303 15.898 18.2376 16.7952 17.6186 17.8731C17.0255 18.906 16.6834 20.105 16.6775 21.3867C16.6774 21.3979 16.6774 21.4092 16.6774 21.4206C16.6774 22.7149 17.0202 23.9258 17.6184 24.9676C17.8457 25.3635 18.11 25.7352 18.4065 26.0776ZM16.4092 31.4219L23.7158 39.8359L30.9917 31.4573L24.7039 22.6592C24.203 21.9584 23.1725 21.9584 22.6717 22.6592L16.4092 31.4219ZM13.0093 2.57139C16.2188 0.926423 19.8476 0 23.6878 0C27.5377 0 31.1752 0.931134 34.3907 2.58392C37.8125 4.34276 40.7554 6.91819 42.9702 10.057C45.2562 13.2966 46.7672 17.1375 47.2273 21.3C47.3253 22.1865 47.3756 23.0875 47.3756 24C47.3756 28.3184 46.2492 32.3726 44.2774 35.8749C40.2007 43.1158 32.5076 48 23.6878 48C14.8083 48 7.07092 43.0495 3.01597 35.7276C1.09507 32.2591 0 28.258 0 24C0 23.0875 0.0503007 22.1865 0.148302 21.3C0.608412 17.1376 2.11928 13.2968 4.40518 10.0572C6.62526 6.91086 9.57699 4.33056 13.0093 2.57139Z' fill='%23231F1F'/%3E%3Cpath d='M61.7464 12.2569V24.0782H60.1963V13.743H54.8292V24.0782H53.2791V12.2569H61.7464Z' fill='%23231F1F'/%3E%3Cpath d='M74.284 22.5077C73.1173 23.7011 71.6894 24.2978 70.0004 24.2978C68.3114 24.2978 66.8835 23.7011 65.7167 22.5077C64.55 21.3143 63.9666 19.8676 63.9666 18.1676C63.9666 16.4563 64.55 15.0096 65.7167 13.8275C66.8835 12.6341 68.3114 12.0374 70.0004 12.0374C71.6894 12.0374 73.1173 12.6341 74.284 13.8275C75.4619 15.0096 76.0508 16.4563 76.0508 18.1676C76.0508 19.8676 75.4619 21.3143 74.284 22.5077ZM66.7835 21.4438C67.6502 22.3219 68.7225 22.761 70.0004 22.761C71.2782 22.761 72.345 22.3219 73.2006 21.4438C74.0673 20.5544 74.5007 19.4623 74.5007 18.1676C74.5007 16.8616 74.0673 15.7695 73.2006 14.8914C72.345 14.002 71.2782 13.5573 70.0004 13.5573C68.7225 13.5573 67.6502 14.002 66.7835 14.8914C65.9278 15.7695 65.5 16.8616 65.5 18.1676C65.5 19.4623 65.9278 20.5544 66.7835 21.4438Z' fill='%23231F1F'/%3E%3Cpath d='M82.4814 12.2569C83.5592 12.2569 84.4537 12.6228 85.1649 13.3546C85.8872 14.0752 86.2483 14.9758 86.2483 16.0566C86.2483 17.1262 85.8872 18.0268 85.1649 18.7586C84.4537 19.4904 83.5592 19.8563 82.4814 19.8563H79.7978V24.0782H78.2477V12.2569H82.4814ZM82.4814 18.3871C83.1259 18.3871 83.6592 18.1676 84.0815 17.7285C84.5037 17.2782 84.7149 16.7209 84.7149 16.0566C84.7149 15.3811 84.5037 14.8238 84.0815 14.3848C83.6592 13.9457 83.1259 13.7261 82.4814 13.7261H79.7978V18.3871H82.4814Z' fill='%23231F1F'/%3E%3Cpath d='M96.575 24.0782L95.6249 21.4269H90.3745L89.4245 24.0782H87.7743L92.1247 12.2569H93.8748L98.2251 24.0782H96.575ZM90.9079 19.9577H95.0915L92.9914 14.1314L90.9079 19.9577Z' fill='%23231F1F'/%3E%3Cpath d='M108.967 17.948C109.5 18.207 109.922 18.5785 110.233 19.0626C110.556 19.5467 110.717 20.104 110.717 20.7345C110.717 21.6802 110.389 22.4739 109.733 23.1156C109.078 23.7574 108.278 24.0782 107.333 24.0782H102.299V12.2569H106.966C107.878 12.2569 108.65 12.5665 109.283 13.1857C109.917 13.8049 110.233 14.5705 110.233 15.4824C110.233 16.5295 109.811 17.3513 108.967 17.948ZM106.966 13.7261H103.849V17.3401H106.966C107.455 17.3401 107.866 17.1656 108.2 16.8166C108.533 16.4676 108.7 16.0397 108.7 15.5331C108.7 15.0377 108.528 14.6156 108.183 14.2665C107.85 13.9063 107.444 13.7261 106.966 13.7261ZM107.333 22.609C107.855 22.609 108.294 22.4232 108.65 22.0517C109.005 21.6802 109.183 21.2242 109.183 20.6838C109.183 20.1547 109 19.7043 108.633 19.3328C108.278 18.9613 107.844 18.7755 107.333 18.7755H103.849V22.609H107.333Z' fill='%23231F1F'/%3E%3Cpath d='M61.7464 26.9111V38.7324H60.1963V28.3972H54.8292V38.7324H53.2791V26.9111H61.7464Z' fill='%23231F1F'/%3E%3Cpath d='M74.4715 37.1619C73.3048 38.3553 71.8769 38.952 70.1879 38.952C68.4989 38.952 67.071 38.3553 65.9042 37.1619C64.7375 35.9685 64.1541 34.5218 64.1541 32.8218C64.1541 31.1105 64.7375 29.6638 65.9042 28.4817C67.071 27.2883 68.4989 26.6916 70.1879 26.6916C71.8769 26.6916 73.3048 27.2883 74.4715 28.4817C75.6494 29.6638 76.2383 31.1105 76.2383 32.8218C76.2383 34.5218 75.6494 35.9685 74.4715 37.1619ZM66.971 36.098C67.8377 36.9761 68.91 37.4152 70.1879 37.4152C71.4658 37.4152 72.5325 36.9761 73.3881 36.098C74.2549 35.2086 74.6882 34.1165 74.6882 32.8218C74.6882 31.5158 74.2549 30.4237 73.3881 29.5456C72.5325 28.6562 71.4658 28.2115 70.1879 28.2115C68.91 28.2115 67.8377 28.6562 66.971 29.5456C66.1154 30.4237 65.6876 31.5158 65.6876 32.8218C65.6876 34.1165 66.1154 35.2086 66.971 36.098Z' fill='%23231F1F'/%3E%3Cpath d='M86.3699 38.7324H84.6031L81.7363 34.0715L78.8694 38.7324H77.1193L80.8695 32.6529L77.3359 26.9111H79.0861L81.7363 31.2175L84.3865 26.9111H86.1366L82.6197 32.636L86.3699 38.7324Z' fill='%23231F1F'/%3E%3Cpath d='M97.5689 37.1619C96.4022 38.3553 94.9743 38.952 93.2853 38.952C91.5963 38.952 90.1684 38.3553 89.0016 37.1619C87.8349 35.9685 87.2515 34.5218 87.2515 32.8218C87.2515 31.1105 87.8349 29.6638 89.0016 28.4817C90.1684 27.2883 91.5963 26.6916 93.2853 26.6916C94.9743 26.6916 96.4022 27.2883 97.5689 28.4817C98.7468 29.6638 99.3357 31.1105 99.3357 32.8218C99.3357 34.5218 98.7468 35.9685 97.5689 37.1619ZM90.0684 36.098C90.9351 36.9761 92.0074 37.4152 93.2853 37.4152C94.5632 37.4152 95.6299 36.9761 96.4855 36.098C97.3523 35.2086 97.7856 34.1165 97.7856 32.8218C97.7856 31.5158 97.3523 30.4237 96.4855 29.5456C95.6299 28.6562 94.5632 28.2115 93.2853 28.2115C92.0074 28.2115 90.9351 28.6562 90.0684 29.5456C89.2128 30.4237 88.785 31.5158 88.785 32.8218C88.785 34.1165 89.2128 35.2086 90.0684 36.098Z' fill='%23231F1F'/%3E%3Cpath d='M109.75 37.2463H111V40.9954H109.45V38.7324H101.749V40.9954H100.199V37.2463H101.216C101.938 36.3344 102.299 34.9496 102.299 33.092V26.9111H109.75V37.2463ZM102.966 37.2463H108.2V28.3803H103.849V33.1258C103.849 34.9158 103.555 36.2894 102.966 37.2463Z' fill='%23231F1F'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 152px;
    height: 65px;
    display: block;
    margin: 15px 0 0 55px;
}

.menu {
    list-style-type: none;
    text-decoration: none;
    margin: -45px 0 50px 970px;
    display: flex;
}

a {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    color: #231F1F;
    font-family: 'Manrope';
}

a:hover, a:focus {
    color: #231F1F;
}

.header-btn {
    font-family: 'Open Sans';
    color: #231F1F;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    border: 2px solid #231F1F;
    border-radius: 35px;
    width: 200px;
    height: 60px;
    text-align: center;
    margin: -91px 0 0 1661px;
    display: flex;
    background: #D9D9D9;
    padding: 17px 0 0 17px;
    cursor: pointer;
}

.block-main {
    background-image: url('img/main-img.png');
    background-repeat: no-repeat;
    width: 1903px;
    height: 850px;
    margin-left: -8px;
    display: flex;
    overflow: hidden;
}

.main-text {
    font-family: 'Unbounded';
    color: #FFFFFF;
    font-size: 160px;
    display: block;
    margin: 80px 0 0 348px;
    text-align: right;
    letter-spacing: 1px;
    line-height: 185px;
}

.main-btn {
    display: block;
    font-family: 'Manrope';
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.7px;
    border-radius: 35px;
    border-color: #FFFFFF;
    width: 330px;
    height: 58px;
    cursor: pointer;
    margin: 728px 0 0 -758px;
    background-color: rgba(28,28,28,0)
}

.main-btn:hover {
    color: #A0C8C3;
    border-color: #A0C8C3;
}

hr {
    background-color: black;
    height: 1px;
    margin-top: 125px;
}

.img-1 {
    width: 125px;
    height: 125px;
    margin: 60px 0 0 205px;
}

.text-2-1 {
    display: flex;
    font-family: 'Unbounded';
    text-transform: uppercase;
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin: -88px 0 0 360px;
}

.text-2-2 {
    display: flex;
    font-family: 'Manrope';
    color: black;
    font-size: 25px;
    font-weight: 400;
    margin: 125px 0 0 205px;
    letter-spacing: 0.5px;
}

img {
    width: 1904px;
    height: 945px;
}
  
.slider {
    margin: 180px 0 0 -10px;
    position: relative;
    display: block;
}
  
.slider-element {
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}
  
div.slider-btn-left,
div.slider-btn-right {
    width: 100px;
    height: 100px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
}
  
div.slider-btn-left {
    margin: 450px 0 0 200px;
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 80 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='40' cy='39.5' rx='40' ry='39.5' transform='matrix(-1 0 0 1 80 0)' fill='%23ECEBE9'/%3E%3Cpath d='M46.6506 23.2051L30.1496 39.4996L46.6506 55.7944' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
}
  
div.slider-btn-right {
    margin: 450px 0 0 1660px;
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 79 79' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='39.5' cy='39.5' r='39.5' fill='%23ECEBE9'/%3E%3Cpath d='M32.9326 23.2051L49.2274 39.4996L32.9326 55.7944' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
}
  
div.slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: 850px;
    z-index: 3;
    text-align: center;
}
  
span.sld-dot {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.img-2 {
    width: 125px;
    height: 125px;
    margin: 1150px 0 0 205px;
}

.text-3-1 {
    display: flex;
    font-family: 'Unbounded';
    text-transform: uppercase;
    color: black;
    font-size: 32px;
    font-weight: 600;
    margin: -88px 0 0 360px;
}

.info {
    display: block;
}

.info-img-1,
.info-img-3 {
    width: 735px;
    height: 435px;
    float: right;
    margin: 85px 205px 90px 185px;
}

.info-img-2,
.info-img-4 {
    width: 735px;
    height: 435px;
    float: left;
    margin: 85px 205px 90px 185px;
}

.info-maintext-1,
.info-maintext-3 {
    font-family: 'Unbounded';
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    font-weight: 600;
    text-align: right;
}

.info-maintext-1 {
    padding-top: 95px;
}

.info-maintext-3 {
    padding-top: 355px;
}

.info-maintext-2,
.info-maintext-4 {
    font-family: 'Unbounded';
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}

.info-maintext-2 {
    padding-top: 380px;
}

.info-maintext-4 {
    padding-top: 460px;
}

.info-text-1,
.info-text-3 {
    font-family: 'Manrope';
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

.info-text-2,
.info-text-4 {
    font-family: 'Manrope';
    color: #545454;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.fourth-block {
    display: block;
    background-image: url('img/background-img.png');
    width: 1904px;
    height: 1395px;
    margin-top: 305px;
    margin-left: -9px;
}

.img-3 {
    width: 125px;
    height: 125px;
    margin: 250px 0 0 205px;
}

.text-4-1 {
    display: flex;
    font-family: 'Unbounded';
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    margin: -75px 0 0 360px;
}

.text-4-2 {
    display: flex;
    font-family: 'Manrope';
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;
    margin: 100px 0 0 205px;
}

.text-4-3 {
    display: flex;
    font-family: 'Manrope';
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    margin: 30px 0 0 205px;
}

.img-marsh-1 {
    display: flex;
    width: 1320px;
    height: 1115px;
    z-index: 1;
    margin: -370px 0 0 340px;
}

.img-marsh-2 {
    display: flex;
    width: 1385px;
    height: 1005px;
    z-index: 2;
    margin: -1025px 0 0 195px;
}

.numbers img {
    display: flex;
    width: 55px;
    height: 50px;
}

.num-1 {
    margin: -15px 0 0 170px;
}

.num-2 {
    margin: -400px 0 0 660px;
}

.num-3 {
    margin: -280px 0 0 1060px;
}

.num-4 {
    margin: -500px 0 0 1540px;
}

.num-5 {
    margin: 270px 0 0 1470px;
}

.num-6 {
    margin: 70px 0 0 1330px;
}

.num-7 {
    margin: 30px 0 0 1200px;
}

.num-8 {
    margin: 70px 0 0 1090px;
}

.num-9 {
    margin: 95px 0 0 930px;
}

.num-10 {
    margin: 50px 0 0 570px;
}